<div id="booking-form">
  <div id="price">0</div>
  <%= simple_form_for [vessel,booking] do |f| %>
  <%= f.input :start_date, required: true %>
  <%= f.input :end_date, required: true %>
  <%= f.button :submit, "Book this Vessel", class: "btn btn-danger btn-block"%>
  <% end %>
</div>
