<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 50%), url(<%= asset_path 'pirateship.jpg' %>)";>
  <div class="banner-content">
    <h1>Ahoy pirate!</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <form id="custom-search-input" action="/search" method="post">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
            <div class="input-group col-md-12">
              <input type="text" name="query" class="form-control input-lg" placeholder="Find yer vessel!" />
              <span class="input-group-btn">
                <button class="btn btn-info btn-lg" type="button">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
