<div id="price"></div>
<%= simple_form_for [vessel,booking] do |f| %>
  <%= f.input :start_date, required: true %>
  <%= f.input :end_date, required: true %>


  <%= f.button :submit, "Book this Vessel"%>
<% end %>
