<div>
  <h2>Available Crews</h2>
  <div>
    <% crews.each do |crew| %>
      <div class="review">
        <span><%= crew.name %></span>
        <% crew.rating.to_i.times do %>
        <i class="far fa-star"></i>
        <% end %>
      </div>
      <% end %>
  </div>
</div>


