<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div>
    <span class="footer-copyright">Made with </span>
    <i class="fas fa-skull"></i>
    <span class="footer-copyright">in Bordeaux</span>
  </div>
</div>


<!-- <%#= image_tag "noun_Pirate.png", width: 40 %></i> -->
