<div>
  <h2>Options</h2>
  <form>
    <% vessel_options.each do |vessel_option| %>
    <div id="options">
      <span><%= vessel_option.option.name %></span>
      <span><%= vessel_option.option.description %></span>
      <%= link_to "Delete", vessel_vessel_option_path(vessel_option.vessel, vessel_option),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
    </div>
    <% end %>
  </form>
</div>
