<div id="booking" class="container-fluid old-paper">
  <div class="row padded">
    <h2>Booking</h2>
    <%= render 'bookings/form', vessel: vessel, booking: booking%>
  </div>
  <div class="row padded">
    <div class="col col-sm-12 col-md-6">
      <%= render 'vessels/vessel-options',
      vessel: vessel,
      vessel_options: vessel_options %>
    </div>
    <div class="col col-sm-12 col-md-6">
      <%= render 'crews/show', vessel: vessel, crews: crews%>
    </div>
  </div>
</div>
