<div class="vessel-configure old-paper">
  <h2>Select options that are compatible with your vessel</h2>
  <%= render 'vessels/vessel-options', vessel: vessel, vessel_options: vessel_options, vessel_option: vessel_option%>
</div>
