<div class="vessel-configure">
  <h2>Select options that are possible to use with your vessel</h2>
  <%= render 'vessel-options/show', vessel: vessel, vessel_options: vessel_options, vessel_option: vessel_option%>
</div>
