<div class="review-form padded">
  <%= simple_form_for [vessel, review] do |f| %>
  <div class="form-inputs padded">
    <%= f.input :content, required: true %>
    <%= f.input :rating, required: true %>
  </div>
  <div class="form-actions padded">
    <%= f.button :submit, "Add Review", class: "btn btn-danger center"%>
  </div>
  <% end %>
</div>
