<div class="container-fluid">
  <div class="row padded">
    <div class="col col-xs-12">
      <h1>Edit Vessel</h1>
      <%= render 'form', vessel: @vessel %>
    </div>
  </div>
</div>



<div class="links">
  <%= link_to 'Back', vessels_path, class: "btn btn-danger" %>
  <%= link_to 'Show', @vessel, class: "btn btn-danger" %>
</div>
