<div class="main-container">
  <div class="container">
    <h1>All our Vessels</h1>
    <div class="row">
      <% @vessels.each do |vessel| %>
        <%= render 'card', vessel: vessel %>
      <% end %>
    </div>
  </div>
  <div id="map" data-markers="<%= @markers.to_json %>"></div>
</div>
