<p id="notice"><%= notice %></p>

<h1>All Vessels</h1>

<div class="d-flex">
  <div class="cards d-flex">
    <div class="row">
      <% @vessels.each do |vessel| %>
      <div class="col-xs-12 col-sm-6 col-lg-4">
        <div class="card" style="background-image: url(http://via.placeholder.com/300x300)">
          <%= vessel.name  %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="map" style="background-image: url(http://via.placeholder.com/500x500)"></div>
</div>


<%= link_to 'New Vessel', new_vessel_path %>
