<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col col-xs-12 col-sm-6 col-md-8">
      <h1>All our Vessels</h1>
      <div class="row">
        <% @vessels.each do |vessel| %>
        <%= render 'shared/vessel-card', vessel: vessel %>
        <% end %>
      </div>
    </div>
    <div class="col col-xs-12 col-sm-6 col-md-4">
      <div class="map" style="background-image: url(http://via.placeholder.com/500x500)"></div>
    </div>
  </div>
</div>

<%= link_to 'New Vessel', new_vessel_path %>
