<div class="main-container">
  <div class="container old-paper no-margin">
    <h1 class="text-center">All our Vessels</h1>
    <div class="row">
      <% @vessels.each do |vessel| %>
        <%= render 'card', vessel: vessel %>
      <% end %>
    </div>
  </div>
  <div id="map" class="map-index" data-markers="<%= @markers.to_json %>"></div>
</div>
