<div class="container-fluid">
  <div class="row padded">
    <div class="col col-xs-12">
      <h1>New Vessel</h1>
      <%= render 'form', vessel: @vessel %>
      <%= link_to 'Back', vessels_path, class: "btn btn-danger"%>
    </div>
  </div>
</div>
