<%= render 'shared/banner' %>

<div class="container old-paper">
  <h2 class="text-center">Our best vessels!</h2>
  <div class="row">
    <% @vessels.each do |vessel| %>
      <%= render 'vessels/card', vessel: vessel %>
    <% end %>
  </div>
</div>
