.card-mybookings {
  margin:10px;


}


.card-mybookings-image {
  border-radius: 3px;
  height: 220px;
  width: 100%;
  background-size: cover !important;
  background-position: center;

}

.card-mybookings-infos {
text-align: center;
padding:10px;

}

.card-mybookings-dates {
text-align: center;
padding:10px;
display:flex;
justify-content: space-around;
color: darkgrey;
}
