.card-mybookings {
  margin:10px;

  h2 {
    font-size: 18px;
    color: #d74438;
    font-weight: bold;
  }
  h3 {
    font-size: 16px;
    color: lightgrey;
    font-weight: bold;
  }
  h4 {
    font-size: 14px;
    color: darkgrey;
    font-weight: bold;
  }
}


.card-mybookings-image {
  border-radius: 3px;
  height: 220px;
  width: 100%;
  background-size: cover !important;
  background-position: center;

}

.card-mybookings-infos {
text-align: center;
padding:10px;

}

.card-mybookings-dates {
text-align: center;
padding:10px;
display:flex;
justify-content: space-around;
color: darkgrey;
}
