.footer {
  background: $bistre;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 0px 50px;
}

.footer-copyright {
  color: $tan;
  opacity: 0.15;
}

.fa-skull {
  opacity: 0.15;
  color: $tan;
  &:hover {
    opacity: 1;
    color: $topaz;
  }
}

.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: $tan;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: $topaz;
}


