.d-flex{
  display: flex;
}

.padded {
  padding:0em 4em;
}

.main-container {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.links{
  margin: 0 auto;
  text-align: center;
}

.center{
  margin: 0 auto;
  text-align: center;
}


.qty{
  width: 50px;
}

.options{
  padding: 0.2em;
}
