

.d-flex{
  display: flex;
}

.padded {
  padding:0em 4em;
}

.main-container {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.links{
  margin: 1em auto;
  text-align: center;
}

.center{
  margin: 0 auto;
  text-align: center;
}

.no-margin {
  margin: 0px;
  margin-top: 0px !important;
}


.qty{
  width: 50px;
  position: relative;
  top: -3px;
}

.shaddow:hover {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.1);
  transform: scale(1.03, 1.03);
}

.old-paper {
  background-color: $paper;
  background-image: linear-gradient(to right, rgba(255,210,0,0.4), rgba(200, 160, 0, 0.1) 11%, rgba(0,0,0,0) 35%, rgba(200, 160, 0, 0.1) 65%);
  box-shadow: inset 0 0 75px rgba(255,210,0,0.3), inset 0 0 20px rgba(255,210,0,0.4), inset 0 0 30px rgba(220,120,0,0.8);
  color: rgba(0,0,0,0.5);
  letter-spacing: 0.05em;
  line-height: 1.8;

  border-radius: 3px;
  padding-bottom: 2em;
  margin-top: 2em;

  h1 {
    font-family: 'Aguafina Script', cursive;
    color: rgba(0,0,0,0.5);
    padding-top: 1em;
    padding-left: 0;
  }

  h2{
    font-family: 'Aguafina Script', cursive;
    padding-left: 0;
    padding-top: 1em;
    color: rgba(0,0,0,0.5);
  }
  h3{
    font-family: 'Aguafina Script', cursive;
    padding-left: 0;
    letter-spacing: 0.1em;
    color: rgba(0,0,0,0.5);
  }
}

body {
  background-color: $bistre;
}

h1 {
  font-family: 'Merienda One', cursive;
  color: $topaz;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Merienda One', cursive;
  color: $topaz;
}

h3 {
  font-family: 'Open Sans';
  color: $topaz;
}



.options{
  input[type="checkbox"]{
    display: inline;
  }
  h4{
    padding-bottom:0.4em;
  }
  padding: 0.2em;
  background: transparent;
  border-radius: 3px;
  // margin-bottom: 1em;
  &:hover{
    cursor: pointer;
    opacity: 0.9;
  }
}

.selected{
  background: $satin-sheen-gold;
  padding: 0.6em;
  margin-bottom: 0.2em;
}

.reviews{
  padding: 6em 2em;
}

#booking{
  border-radius: 3px;
  padding-bottom: 2em;
  margin-top: 2em;
  position: relative;

  #price{
    position: absolute;
    top: 25px;
    text-align: center;
    right: 0;
    background-color: $satin-sheen-gold;
    border-color: #ec4844;
    padding: 0.8em 2em;
  }

  #booking-form{

  }
}

.reviews {
  color: $topaz;
}






.description{
  padding-bottom: 2em;
}


a:hover {
  text-decoration: none;
}

.nav-tabs > li:active > a {
  background-color: $satin-sheen-gold;
}
