.d-flex{
  display: flex;
}

.padded {
  padding:0em 4em;
}

.main-container {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.links{
  margin: 0 auto;
  text-align: center;
}

.center{
  margin: 0 auto;
  text-align: center;
}


.qty{
  width: 50px;
}

.options{
}

.reviews{
  padding: 6em 2em;
}

#booking{
  background: white;
  border-radius: 3px;
  padding-bottom: 2em;
  margin-top: 2em;
  position: relative;
  h2{
    padding-top: 2em;
    padding-left: 0;
  }
  h3{
    padding-top: 0.8em;
    padding-left: 0;
  }
  #price{
    position: absolute;
    top: 25px;
    text-align: center;
    right: 0;
    background-color: #EE5F5B;
    border-color: #ec4844;
    padding: 0.8em 2em;
  }
  #booking-form{

  }
}
